{% extends 'base.html' %}

{% block content %}
    <h1>Item List</h1>

    <form method="get">
    <div>
        <label for="query">Поиск по названию и описанию:</label>
        <input type="text" name="query" id="query" value="{{ request.GET.query }}">
    </div>

    <div>
        <label for="min_price">Минимальная цена:</label>
        <input type="number" step="0.01" name="min_price" id="min_price" value="{{ request.GET.min_price }}">
    </div>

    <div>
        <label for="max_price">Максимальная цена:</label>
        <input type="number" step="0.01" name="max_price" id="max_price" value="{{ request.GET.max_price }}">
    </div>

    <button type="submit">Искать</button>
</form>

    <ul>
        {% for item in object_list %}
            <li>
                <a href="{% url 'item_detail' item.pk %}">{{ item.name }}</a> - {{ item.price }}$
                <p>{{ item.description|truncatechars:50 }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
